html {
  overflow: hidden !important;
  height: 100% !important;
  scroll-behavior: smooth !important;
}
body {
  overflow: auto !important;
  height: 100% !important;
  background: url(@/assets/img/bg2.webp) center no-repeat;
  background-size: cover;
}
body.modal-open {
  padding-right: 0 !important;
}

@font-face {
  font-family: "nunito";
  src: url(@/assets/fonts/nunito.ttf);
}
@font-face {
  font-family: "fajardo";
  src: url(@/assets/fonts/fajardo.ttf);
}
@font-face {
  font-family: "tangerine-reg";
  src: url(@/assets/fonts/tangerine-reg.ttf);
}
@font-face {
  font-family: "tangerine-bold";
  src: url(@/assets/fonts/tangerine-bold.ttf);
}
@font-face {
  font-family: "dancing";
  src: url(@/assets/fonts/dancing.ttf);
}
@font-face {
  font-family: "australia";
  src: url(@/assets/fonts/australia.ttf);
}
@font-face {
  font-family: "tss";
  src: url(@/assets/fonts/tss.ttf);
}
@font-face {
  font-family: "sunflower";
  src: url(@/assets/fonts/sunflower.otf);
}
@font-face {
  font-family: "megalona";
  src: url(@/assets/fonts/megalona.otf);
}

.tangerine {
  font-family: tangerine-reg;
}
.tangerine-b {
  font-family: tangerine-bold;
}
.fajardo {
  font-family: fajardo;
}
.nunito {
  font-family: nunito;
}
.dancing {
  font-family: dancing;
}
.australia {
  font-family: australia;
}
.tss {
  font-family: tss;
}
.sunflower {
  font-family: sunflower;
}
.megalona {
  font-family: megalona;
}
